body
{
	background-color:  #435343;
    opacity: 0.6;
}


h1
{

	color: white;
	font-family: papyrus;
	font-size: 40px;

}

p
{
	color: #99CCFF;
	font-family: monaco;
	font-size: 20px;
	text-align: inherit;
}


a:hover
{

	color: #FF33FF;
}

ul
{

	color: white;
}

a
{
	color:  #DAF7A6;

}

h2
{

	color: white;
	font-family: papyrus;
	font-size: 40px;

}





