body
{
	background-color: #FBE7C6;
    opacity: 0.6;
}


h1
{

	color:#B4F8C8;
	font-family: papyrus;
	font-size: 40px;

}

p
{
	color: #99CCFF;
	font-family: monaco;
	font-size: 20px;
	text-align: inherit;
}


a:hover
{

	color: #FF33FF;
}

ul
{

	color:#A0E7E5;
}

a
{
	color:  #DAF7A6;

}

h2
{

	color: #FFAEBC;
	font-family: papyrus;
	font-size: 40px;

}





