body
{
	background-color:#98B66E;
   
}


h1
{

	color:#A0E7E5;
	font-family: papyrus;
	font-size: 40px;

}

p
{
	color:#F9D876;
	font-family: monaco;
	font-size: 20px;
	text-align: inherit;
}


a:hover
{

	color: #C5E5A5;
}

ul
{

	color#FBE39D;
}

a
{
	color:  #FFAEBC;

}

h2
{

	color: #FFAEBC;
	font-family: papyrus;
	font-size: 40px;

}





